/* Colors and fonts */
{}
body  {
	background-color: #C6808A;
	font-family: lemonada;
}

h1 {
	font-family: 'lato', sans-serif;
	color: #1A1423;
}

a {
	text-decoration: none;
	color: red;
}

a:Hover {
	color: white;
}

#logo {
	border-radius: 50%;
	width: 120px;

}

.shadowed {
	box-shadow: 10px, 10px, 10px grey;
}

div {
	width: 700px;
	margin: 30px auto;
	text-align: center;
}

#banner3, #banner4, #banner5, #banner6, #banner7, #banner8, #banner10, #banner11{
	box-shadow: 0PX, 10px, 30px rgba(10, 10, 10, 10);
	border-radius: 5px;
	background: white;

}

/* Custom design with class */


@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }